<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        doloremque aperiam id consequatur temporibus, provident minima tenetur
        dolore reprehenderit! Accusamus beatae vitae ullam odit. Incidunt, ipsa
        iusto! Pariatur, facere ullam!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        doloremque aperiam id consequatur temporibus, provident minima tenetur
        dolore reprehenderit! Accusamus beatae vitae ullam odit. Incidunt, ipsa
        iusto! Pariatur, facere ullam!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        doloremque aperiam id consequatur temporibus, provident minima tenetur
        dolore reprehenderit! Accusamus beatae vitae ullam odit. Incidunt, ipsa
        iusto! Pariatur, facere ullam!
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
